p
  margin: 0

.navbar-light
  background-color: #ffffffb7 !important

.rotating
  animation: spin 15s infinite linear

#footer
  height: 500px

@keyframes spin
  from
    transform: rotate(0deg)

  to
    transform: rotate(360deg)
