.sec3
  height: 100vh
  max-height: 100vh
  background: #cccccc
  .row
    .nav-col
      height: 85vh
      background: linear-gradient(0.25turn, #ffffff, #cccccc, )

    .gal-col
      .gallery
        height: 85vh
        overflow-y: auto
