.sec1
  min-height: 100vh
  background: #cccccc
  .row
    .col
      .about-box
        background: #f1f1f1
        height: 78%
        max-height: 78%
        overflow: scroll
  h3
    position: relative
    padding-bottom: 15px
    margin-bottom: 20px

  h3::after
    background: #17A2B8
    bottom: 0px
    content: ""
    height: 2px
    left: 0
    position: absolute
    width: 50px

  .badge-outlined-info
    background-color: transparent
    border: 1px solid #17A2B8
