#section4
  height: 100vh
  max-height: 100vh
  background: url("../assets/486701.jpg") no-repeat center
  background-attachment: fixed
  background-size: cover
  .cursor
    animation: blink 1s infinite

@keyframes blink
  0%
    opacity: 1
  50%
    opacity: 0
  100%
    opacity: 1
