p
  margin: 0
.sec2
  height: 50vh
  background: url("../assets/486701.jpg") no-repeat center
  background-attachment: fixed
  background-size: cover
  .big
    font-size: 3rem
  .upper
    font-size: 1.5rem
    text-transform: uppercase
