p,h1,h2,h3,h4,h5,h6
  margin: 0

.sec3
  min-height: 100vh
  background: #cccccc
  .nav-col
    background: linear-gradient(0.25turn, #ffffff, #cccccc, )
  .gallery
    .card-container
      height: 350px
      width: 250px
      box-sizing: border-box

      transform-style: preserve-3d
      transition: -webkit-transform ease 500ms
      transition: transform ease 500ms
      &.flipped
        .front
          transform: rotateY(180deg)
        .back
          transform: rotateY(0deg)
      &.zoomIn
        transform: scale(1.2)
        .front,.back
          box-shadow: 5px 5px 5px rgb(95, 77, 99)

      .front,.back
        height: 100%
        width: 100%
        background: #dddddd
        box-shadow: 10px 10px 5px rgb(95, 77, 99)
        position: absolute
        border-radius: 10px

        backface-visibility: hidden
        transform-style: preserve-3d
        transition: -webkit-transform ease 500ms, -webkit-box-shadow ease 500ms
        transition: transform ease 500ms, box-shadow ease 500ms

      .front
        transform: rotateY(0deg)
        .card-border
          height: 100%
          width: 100%
          border-radius: 10px
          background: #000000
          .card-background
            height: 91%
            width: 92%
            margin: 4% auto 0 auto
            left: 0
            right: 0
            background: #E2D4A3
            background-image: url(../assets/frame-bg.jpg)
            background-repeat: no-repeat
            background-size: cover
            padding: 4px
            position: absolute
            z-index: 0
            border-radius: 5px 5px 8% 8%
            .card-frame
              z-index: 1
              position: relative
              height: 103%
              width: 97%
              margin: 0 auto
              left: 0
              right: 0
              display: flex
              flex-direction: column
              align-items: center
              .title-area,.image-area,.type-area,.text-area
                overflow: hidden
              .title-area,.type-area
                width: 100%
                border-bottom: 2px solid #a9a9a9
                border-left: 2px solid #a9a9a9
                border-top: 1px solid #fff
                border-right: 1px solid #fff
                background: linear-gradient( 0deg, #e0dec462, #e4e6d562 ),url("../assets/tile_bg_1.jpg")
                display: flex
                margin-left: 2.5px
                margin-right: 2.5px
                padding: 4px 5px
                justify-content: space-between
                border-radius: 18px/40px
              .title-area,.image-area,.type-area
                box-shadow: 0 0 0 1px #bbbbbb, 0 0 0 2.5px #F5F6F0, -1.5px 1.5px 1px 2.5px #171314
                margin-bottom: 7px
              .title-area
                margin-top: 5px
                .title
                  font-size: 1em
                  margin-left: 5px
                  align-self: baseline
                  font-weight: 500
                .cost
                  width: 18px
              .image-area
                position: relative
                width: 92%
                height: 50%
                .image
                  position: absolute
                  min-height: 100%
                  max-width: 100%
                  margin-left: auto
                  left: 0
                  margin-right: auto
                  right: 0
              .type-area
                display: flex
                align-items: center
                .type
                  text-transform: capitalize
                  font-size: 1em
                  margin-left: 5px
                  align-self: baseline
                  font-weight: 500
                .icon
                  height: 100%
                  width: 10%
                  overflow: hidden
                  margin-right: 5px
                  align-self: center
              .text-area
                width: 92%
                background: white
                box-shadow: 0 0 0 2.5px #F5F6F0, -1.5px 1.5px 0.5px 2.5px #bbbbbb
                height: 35%
                display: flex
                flex-direction: column
                justify-content: space-around
                padding: 2%
                .short-content
                  white-space: nowrap
                  overflow: hidden
                  text-overflow: ellipsis
                .flavor-text
                  hr
                    margin-bottom: 5px
                    width: 90%
                    color: #CCCCD4
                  .read-more
                    font-style: italic
                    text-align: right
                    font-size: 12px
              .rare
                border-radius: 60%
                width: 20px
                height: 10px
                position: absolute
                bottom: -3%
                z-index: 2
                background: lightgray
                background-image: url(../assets/holofoil.jpeg)
                box-shadow: 0 0 0 2px #171314

      .back
        transform: rotateY(-180deg)
        font-size: 17px
        .card-border
          height: 100%
          width: 100%
          border-radius: 10px
          background: #000000
          .card-background
            height: 92%
            width: 92%
            margin: auto
            top: 0
            bottom: 0
            left: 0
            right: 0
            background: #5D3812
            background-image: url(../assets/texture-cardback-dark.png)
            background-repeat: no-repeat
            background-size: cover
            position: absolute
            z-index: 0
            border-radius: 5px
            .text-area
              width: 92%
              height: 92%
              position: absolute
              margin: auto
              top: 0
              bottom: 0
              left: 0
              right: 0
              color: #2BA9D8
              background: #af5f40
              background-image: url(../assets/texture-cardback-light.png)
              background-repeat: no-repeat
              background-size: cover
              box-shadow: 0 0 0 2.5px #4A3C88, 0px 0px 0px 3px #000000
              padding: 3%