p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.sec3 {
  min-height: 100vh;
  background: #cccccc;
}

.sec3 .nav-col {
  background: -webkit-gradient(linear, left top, right top, from(#ffffff), to(#cccccc));
  background: linear-gradient(0.25turn, #ffffff, #cccccc);
}

.sec3 .gallery .card-container {
  height: 350px;
  width: 250px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  transition: -webkit-transform ease 500ms;
  -webkit-transition: -webkit-transform ease 500ms;
  transition: transform ease 500ms;
  transition: transform ease 500ms, -webkit-transform ease 500ms;
}

.sec3 .gallery .card-container.flipped .front {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.sec3 .gallery .card-container.flipped .back {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

.sec3 .gallery .card-container.zoomIn {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.sec3 .gallery .card-container.zoomIn .front, .sec3 .gallery .card-container.zoomIn .back {
  -webkit-box-shadow: 5px 5px 5px #5f4d63;
          box-shadow: 5px 5px 5px #5f4d63;
}

.sec3 .gallery .card-container .front, .sec3 .gallery .card-container .back {
  height: 100%;
  width: 100%;
  background: #dddddd;
  -webkit-box-shadow: 10px 10px 5px #5f4d63;
          box-shadow: 10px 10px 5px #5f4d63;
  position: absolute;
  border-radius: 10px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  transition: -webkit-transform ease 500ms, -webkit-box-shadow ease 500ms;
  -webkit-transition: -webkit-transform ease 500ms, -webkit-box-shadow ease 500ms;
  transition: transform ease 500ms, box-shadow ease 500ms;
  transition: transform ease 500ms, box-shadow ease 500ms, -webkit-transform ease 500ms, -webkit-box-shadow ease 500ms;
}

.sec3 .gallery .card-container .front {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

.sec3 .gallery .card-container .front .card-border {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  background: #000000;
}

.sec3 .gallery .card-container .front .card-border .card-background {
  height: 91%;
  width: 92%;
  margin: 4% auto 0 auto;
  left: 0;
  right: 0;
  background: #E2D4A3;
  background-image: url(../assets/frame-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 4px;
  position: absolute;
  z-index: 0;
  border-radius: 5px 5px 8% 8%;
}

.sec3 .gallery .card-container .front .card-border .card-background .card-frame {
  z-index: 1;
  position: relative;
  height: 103%;
  width: 97%;
  margin: 0 auto;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sec3 .gallery .card-container .front .card-border .card-background .card-frame .title-area, .sec3 .gallery .card-container .front .card-border .card-background .card-frame .image-area, .sec3 .gallery .card-container .front .card-border .card-background .card-frame .type-area, .sec3 .gallery .card-container .front .card-border .card-background .card-frame .text-area {
  overflow: hidden;
}

.sec3 .gallery .card-container .front .card-border .card-background .card-frame .title-area, .sec3 .gallery .card-container .front .card-border .card-background .card-frame .type-area {
  width: 100%;
  border-bottom: 2px solid #a9a9a9;
  border-left: 2px solid #a9a9a9;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  background: -webkit-gradient(linear, left bottom, left top, from(#e0dec462), to(#e4e6d562)), url("../assets/tile_bg_1.jpg");
  background: linear-gradient(0deg, #e0dec462, #e4e6d562), url("../assets/tile_bg_1.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 2.5px;
  margin-right: 2.5px;
  padding: 4px 5px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 18px/40px;
}

.sec3 .gallery .card-container .front .card-border .card-background .card-frame .title-area, .sec3 .gallery .card-container .front .card-border .card-background .card-frame .image-area, .sec3 .gallery .card-container .front .card-border .card-background .card-frame .type-area {
  -webkit-box-shadow: 0 0 0 1px #bbbbbb, 0 0 0 2.5px #F5F6F0, -1.5px 1.5px 1px 2.5px #171314;
          box-shadow: 0 0 0 1px #bbbbbb, 0 0 0 2.5px #F5F6F0, -1.5px 1.5px 1px 2.5px #171314;
  margin-bottom: 7px;
}

.sec3 .gallery .card-container .front .card-border .card-background .card-frame .title-area {
  margin-top: 5px;
}

.sec3 .gallery .card-container .front .card-border .card-background .card-frame .title-area .title {
  font-size: 1em;
  margin-left: 5px;
  -ms-flex-item-align: baseline;
      align-self: baseline;
  font-weight: 500;
}

.sec3 .gallery .card-container .front .card-border .card-background .card-frame .title-area .cost {
  width: 18px;
}

.sec3 .gallery .card-container .front .card-border .card-background .card-frame .image-area {
  position: relative;
  width: 92%;
  height: 50%;
}

.sec3 .gallery .card-container .front .card-border .card-background .card-frame .image-area .image {
  position: absolute;
  min-height: 100%;
  max-width: 100%;
  margin-left: auto;
  left: 0;
  margin-right: auto;
  right: 0;
}

.sec3 .gallery .card-container .front .card-border .card-background .card-frame .type-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sec3 .gallery .card-container .front .card-border .card-background .card-frame .type-area .type {
  text-transform: capitalize;
  font-size: 1em;
  margin-left: 5px;
  -ms-flex-item-align: baseline;
      align-self: baseline;
  font-weight: 500;
}

.sec3 .gallery .card-container .front .card-border .card-background .card-frame .type-area .icon {
  height: 100%;
  width: 10%;
  overflow: hidden;
  margin-right: 5px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.sec3 .gallery .card-container .front .card-border .card-background .card-frame .text-area {
  width: 92%;
  background: white;
  -webkit-box-shadow: 0 0 0 2.5px #F5F6F0, -1.5px 1.5px 0.5px 2.5px #bbbbbb;
          box-shadow: 0 0 0 2.5px #F5F6F0, -1.5px 1.5px 0.5px 2.5px #bbbbbb;
  height: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 2%;
}

.sec3 .gallery .card-container .front .card-border .card-background .card-frame .text-area .short-content {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sec3 .gallery .card-container .front .card-border .card-background .card-frame .text-area .flavor-text hr {
  margin-bottom: 5px;
  width: 90%;
  color: #CCCCD4;
}

.sec3 .gallery .card-container .front .card-border .card-background .card-frame .text-area .flavor-text .read-more {
  font-style: italic;
  text-align: right;
  font-size: 12px;
}

.sec3 .gallery .card-container .front .card-border .card-background .card-frame .rare {
  border-radius: 60%;
  width: 20px;
  height: 10px;
  position: absolute;
  bottom: -3%;
  z-index: 2;
  background: lightgray;
  background-image: url(../assets/holofoil.jpeg);
  -webkit-box-shadow: 0 0 0 2px #171314;
          box-shadow: 0 0 0 2px #171314;
}

.sec3 .gallery .card-container .back {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  font-size: 17px;
}

.sec3 .gallery .card-container .back .card-border {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  background: #000000;
}

.sec3 .gallery .card-container .back .card-border .card-background {
  height: 92%;
  width: 92%;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #5D3812;
  background-image: url(../assets/texture-cardback-dark.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: 0;
  border-radius: 5px;
}

.sec3 .gallery .card-container .back .card-border .card-background .text-area {
  width: 92%;
  height: 92%;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #2BA9D8;
  background: #af5f40;
  background-image: url(../assets/texture-cardback-light.png);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-shadow: 0 0 0 2.5px #4A3C88, 0px 0px 0px 3px #000000;
          box-shadow: 0 0 0 2.5px #4A3C88, 0px 0px 0px 3px #000000;
  padding: 3%;
}
/*# sourceMappingURL=Section3.css.map */